extends layout
        
block content
  article.box.post
    div.image.featured(style={"background-image": "url(" + entry.banner + ")"})
    header
      h2= entry.title
      p= entry.shortdesc
    != entry.body
