extends layout
        
block content
  article.box.post
    div.image.featured(style={"background-image": "url(" + posts.banner + ")"})
    header
      h2= posts.title
      p= posts.shortdesc
    != posts.body
