doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Content Manager
  
    link(rel="stylesheet", href="//cms.netlify.com/assets/cms.css")
    base(href="/admin/")
  body
    script(src="//cms.netlify.com/assets/vendor.js")
    script(src="//cms.netlify.com/assets/cms.js")
